<nav class="navbar navbar-expand-lg bg-dark ">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cover" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/personal-details" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/professional-details" routerLinkActive="active">Career</a>
      </li>
    </ul>
</nav>
<router-outlet></router-outlet>