
<div class="personal-details container">
  <div class="row">
    <h1 class="name">Akash Takawale</h1>
    <p>Frontend Developer</p>
  </div>
  <div class="row">
    <a class="anchor" name="about"></a>
    <h2>About</h2>
  </div>
  <div class="row content">
    <p>
      Working as a frontend developer having good knowledge of frontend
      technologies like HTML, CSS, JavaScript, Angular.
    </p>
    <p>
      Skilled in analyzing functional and technical requirements during the
      software life cycle.
    </p>
    <p>
      <span class="info-label">{{ phoneHtml }}</span> :<span>{{
        phoneNumber
      }}</span>
    </p>
    <p>
      <span class="info-label"> {{ emailHtml }}</span
      >:<span>{{ email }}</span>
    </p>
  </div>
</div>
