<div class="jumbotron-text">
  <h1>Akash Takawale</h1>
  <p>Frontend Developer</p>
</div>
<div class="main-content">
  <div class="content-header">
    <a class="anchor" name="about"></a>
    <h2>About</h2>
  </div>
  <div class="content-body">
    <p>Working as a frontend developer having good knowledge of frontend
        technologies like HTML, CSS, JavaScript, Angular. <br> Skilled in analyzing
        functional and technical requirements during the software life cycle.</p>
    <p>text here</p>
  </div>
</div>
          <div class="content-body">
            <div class="card">
              <div class="card-header">
                <h4>Phone :<span class="job-title">{{phoneNumber}}</span></h4>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4>Email :<span class="job-title">{{email}}</span></h4>
              </div>
              <div class="card-content">
                <p>Paragraph Text</p>
              </div>
            </div>
            <div class="project-card">
              <div class="project-image">
                <img src="http://placehold.it/250x350">
              </div>
              <div class="project-content">
                <h4>Project Name</h4>
                <p>Paragraph text</p>
                <a href="#">Link Text</a>
              </div>
            </div>
            <ul class="ul-skills">
              <li class="li-skills">Javascript</li>
            </ul>
<form method="POST" action="https://formspree.io/email@email.com">
        <div class="content-body">
            <p>Copyright YOUR NAME 2017</p>
          </div>