.personal-details {
  background-image: linear-gradient(black, grey);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  color: #fff;
  .name {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 2.25rem;
    .info-label{
        font-size: 24px;
        font-weight: 400;
    }
  }
  .effect{
    :hover {
      //transition: width 2s;
      color:#b3ffff;
      font-size: 29px;
      font-weight: bold;
      //box-shadow: 10px 10px;
      //background: #fff;
    }
  }
}
