<div class="professional-details">
  <h3>Project Details:</h3>
  <div class="tabbed-container">
    <nav class="navbar1 navbar-inverse">
      <ul class="nav flex-column">
        <li class="nav-item active">
          <a class="nav-link" (click)="showContent('CITI')">CITI Bank<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showContent('Nielsen')">Nielsen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showContent('Skills')">Skills</a>
        </li>
      </ul>
    </nav>
    <div class="project-main">
      <div *ngIf="navContent === 'CITI'" class="project1">
        <h4>CITI Bank</h4>
        <p>
          The project caters to the different requirements of the customers
          regarding fund transfer, account opening and managing different cards.
          This project acts as middleware for different customer services. It
          helps in transforming channels data into host system, there are
          multiple types of modules such as payment, retail & cards.
        </p>
        <h5>Dev. Environment :</h5>
        <p>Angular, HTML5, Bootstrap, JavaScript, MySQL</p>
        <h5>Role :</h5>
        <p>
          Requirement Analysis for the project/ CR / production issues, Create
          responsive Design, Manage Style guide & components, integration of
          modules with the web services and testing the same, Task update using
          Jira.
        </p>
      </div>
      <div *ngIf="navContent === 'Nielsen'" class="project2">
        <h4>Global Store Repository – Nielsen</h4>
        <p>
          This is a market analysis and research platform application, which
          allows storing all store related audit, and survey related information
          to be store.  Implementation of new feature, enhancement of existing
          features and fixing bugs
        </p>
        <h5>Dev. Environment :</h5>
        <p>Angular, HTML, Jenkins, RLM</p>
        <h5>Role :</h5>
        <p>
          Requirement Analysis for the project, Integration of frontend
          activities with the underlying business layer & Created reusable
          components.
        </p>
      </div>
      <div *ngIf="navContent === 'Skills'" class="project2">
        <h4>Technical Skills :</h4>
        <ul>
          <li>HTML5, CSS3, JavaScript</li>
          <li>Angular 6/7, AngularJS 1.x</li>
          <li>Java, XML, SOAP, REST</li>
          <li>Jenkins, RLM, SoapUI, Postman</li>
        </ul>
      </div>
    </div>
  </div>
</div>
